body{
  background: linear-gradient(#141e30, #243b55);
  color: #ffffff;
  height: 100%;
  text-align: center;
  margin: 0px;
  margin-bottom:100px ;
  
}
menu{
  margin: 0;
  padding: 0;
}
ul{
  display: flex;
  justify-content: center;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  
}
li {
  border-right: 1px solid #ffffff;
  border-left: 1px solid #ffffff;
}
li a {
  font-size: 160%;
  display: block;
  color: #ffffff;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #243b55;
}

.form{
  
  border: 1px solid #ffffff;
  padding: 30px;
  border-radius: 20px;
  width: 35%;
  margin: 50px auto;
  display: flex;
  flex-direction: column;
  text-align: center;
  background: linear-gradient( #243b55, #141e30);
}

.form1{
  margin-top: -50px;
}

.row{
  margin: auto;
  display: flex;
  flex-direction: row;

}
.input{
  display: flex;
  flex-direction: column;

}
h2{
  margin-top: 4%;
  margin-bottom: -1%;
  font-size: 250%;
}

label{
  
  font-size: 200%;
  margin-bottom: 15px;

}
input, select{
  border-radius: 10px;
  margin: auto;
  width: 70%;
  margin-bottom: 20px;
  font-size: 150%;
  text-align: center;
  padding: 10px;
}
button{
  padding: 10px;
  border-radius: 20px;
  width: 100%;
  margin: 20px auto;
  margin-right: 20px;
  font-size: 150%;
  background: linear-gradient( #243b55, #141e30);
  color:#ffffff ;
  border:1px solid #ffffff;
}

button:hover{
  background: linear-gradient( #244d7b, #2b4b85);
}

.result{
  
  width: 80%;
  margin: 50px auto;
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 20px;
  min-height: 250px;
  
}

table, th, td{
  padding: 20px;
}
table {
  background: linear-gradient( #243b55, #141e30);
  border-collapse: collapse;
  border-radius: 30px;
  border-style: hidden; 
  box-shadow: 0 0 0 1px #ffffff; 
  
}


td, th {
  font-size: 150%;
  border: 1px solid #ffffff;
}

#edit{
  margin-top: 0px;
  width: 10%;
}
.edit1{
  margin-top: 50px;
  margin-bottom: 0px;
  width: 12%;
}
/*Classi per nascondere gli elementi*/
.formHide, .paginationHide{
  display: none!important;
}
.form2{
  width: 40%;
}
.form3{
  width: 20%;
}

/*Loader per l'attesa del caricamento dei dati*/
.loader {
  border: 16px solid #f3f3f3; 
  border-top: 16px solid #3498db;
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
  margin: auto;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

img{
  border-radius: 20px;
  border: 3px solid black;
}

.homeRes{
  min-height: 0px;
}

#titleForm{
  margin-bottom: 5%;
}

#pagination{
  margin-top: 50px;
  display: flex;

}

.pag{
  margin: 0 auto;
  width: 12%;
}

h3{
  margin: auto 20px;
  font-size: 210%;
}
